/TrainingCodes/deepepf_L0_Res_Bnorm_Adam/data/model_L0_Res_Bnorm_Adam/imdb.mat
/TrainingCodes/deepepf_L0_Res_Bnorm_Adam/data/model_L0_Gray_Res_Bnorm_Adam/imdb.mat
/TrainingCodes/deepepf_L0_Res_Bnorm_Adam/data/model_L0_Res_Bnorm_Adam_old/imdb.mat
/TrainingCodes/deepepf_L0_Res_Bnorm_Adam/data/model_L0_Res_Bnorm_Adam_L0/imdb.mat
